push argument 0
pop local 0

push local 0
push constant 0
lt
if-goto NEGATIVE_X

goto START_MULTIPLICATION

label NEGATIVE_X
push local 0
neg
pop local 0

label START_MULTIPLICATION
push constant 0
pop local 1

push local 0
pop local 2

push local 0
push constant 0
eq
if-goto ZERO_CASE

label LOOP
push local 2
push constant 0
gt
if-goto CONTINUE

goto END

label CONTINUE
push local 1
push local 0
add
pop local 1

push local 2
push constant 1
sub
pop local 2

goto LOOP

label ZERO_CASE
push constant 0
pop argument 1
push argument 1
goto END

label END
push local 1
pop argument 1
push argument 1

label INFINITE_LOOP
goto INFINITE_LOOP
