push argument 0
pop local 0

push local 0
push constant 0
lt
if-goto neg

goto multiplay

label neg
push local 0
neg
pop local 0

label multiplay
push constant 0
pop local 1

push local 0
pop local 2

push local 0
push constant 0
eq
if-goto zero

label LOOP
push local 2
push constant 0
gt
if-goto finish

goto end

label finish
push local 1
push local 0
add
pop local 1

push local 2
push constant 1
sub
pop local 2

goto LOOP

label zero
push constant 0
pop argument 1
push argument 1
goto end

label end
push local 1
pop argument 1
push argument 1

label infinite
goto infinite
