function Sys.min 0
    push argument 0
    push argument 1
    lt
    if-goto MIN_FIRST

    push argument 1
    return

label MIN_FIRST
    push argument 0
    return

function Sys.max 0
    push argument 0
    push argument 1
    gt
    if-goto MAX_FIRST

    push argument 1
    return

label MAX_FIRST
    push argument 0
    return

function Sys.range 4
    push argument 1
    push constant 1
    lt
    if-goto RETURN_ZERO

    push argument 0
    pop pointer 0
    push this 0
    pop local 0
    push this 0
    pop local 1
    push argument 1
    pop local 3

label RANGE_LOOP
    push local 3
    push constant 1
    sub
    pop local 3

    push local 3
    push constant 1
    lt
    if-goto RANGE_END

    push pointer 0
    push constant 1
    add
    pop pointer 0
    push this 0

    push local 0
    call Sys.min 2
    pop local 0

    push this 0
    push local 1
    call Sys.max 2
    pop local 1

    goto RANGE_LOOP

label RANGE_END
    push local 1
    push local 0
    sub
    return

label RETURN_ZERO
    push constant 0
    return

//// INITIALIZATION FUNCTION
function Sys.init 0
    call Sys.range 2    
label WHILE
goto WHILE// Store result to avoid stack corruption

